# ad clicking

### Importing the libraries

In [110]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder

### Importing the dataset

In [111]:
df = pd.read_csv('ad.csv')

In [89]:
x=df[['Daily Time Spent on Site','Age',	'Area Income','Daily Internet Usage','Country','Male']]
y=df[['Clicked on Ad']]

### encoding categorical data

In [ ]:
cl = LabelEncoder()
x['country']=cl.fit_transform(x['Country'])

In [95]:
x=x.drop(['Country'],axis='columns')

### Splitting the dataset into the Training set and Test set

In [96]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [98]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

### fitting the model

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train, y_train)

### Prediction

In [102]:
y_pred = classifier.predict(X_test)

In [ ]:
y_pred

### Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

In [ ]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.values.reshape(len(y_test),1)),1))

### prediction on a new input data

In [115]:
c=pd.DataFrame([['54.7','36','31087.54','118.39','1','British Indian Ocean Territory (Chagos Archipelago)']])

In [121]:
c[6]=cl.transform(c[5])

In [122]:
c

,0,1,2,3,4,5,6
0,54.7,36,31087.54,118.39,1,British Indian Ocean Territory (Chagos Archipe...,29

In [125]:
c=c.drop([5],axis='columns')

In [126]:
c

      0   1         2       3  4   6
0  54.7  36  31087.54  118.39  1  29

In [ ]:
c1=sc.transform(c)

In [ ]:
c1

In [ ]:
print(classifier.predict(c1))